Repository scoala-online/main, pull requests merged in 2021-11, with the labels that each got.

#87 Test/#45 test subject endpoint
  apps/java-api/src/main/java/org/scoalaonline/api/controller/SubjectController.java
  apps/java-api/src/test/java/org/scoalaonline/api/controller/SubjectControllerTest.java
  apps/java-api/src/test/java/org/scoalaonline/api/integration/SubjectIntegrationTest.java
  apps/java-api/src/test/java/org/scoalaonline/api/service/SubjectServiceTest.java
Labels: test 💍, rest-api 🛰

#89 Feat/#84 create an express app
  .github/workflows/lint.yml
  angular.json
  apps/admin-panel/.env-template
  apps/admin-panel/.eslintrc.json
  apps/admin-panel/jest.config.js
  apps/admin-panel/src/app/.gitkeep
  apps/admin-panel/src/app/public/app.css
  apps/admin-panel/src/app/public/endpoints/endpoints.css
  apps/admin-panel/src/app/public/endpoints/endpoints.html
  apps/admin-panel/src/app/public/endpoints/endpoints.js
  apps/admin-panel/src/app/public/footer/footer.css
  apps/admin-panel/src/app/public/footer/footer.html
  apps/admin-panel/src/app/public/footer/footer.js
  apps/admin-panel/src/app/public/home/home.css
  apps/admin-panel/src/app/public/home/home.html
  apps/admin-panel/src/app/public/images/logo.png
  apps/admin-panel/src/app/public/images/logo.svg
  apps/admin-panel/src/app/public/navbar/navbar.css
  apps/admin-panel/src/app/public/navbar/navbar.html
  apps/admin-panel/src/app/util/endpoints.util.js
  apps/admin-panel/src/assets/.gitkeep
  apps/admin-panel/src/environments/environment.js
  apps/admin-panel/src/environments/environment.prod.js
  apps/admin-panel/src/main.js
  apps/admin-panel/tsconfig.app.json
  apps/admin-panel/tsconfig.json
  apps/admin-panel/tsconfig.spec.json
  apps/java-api/src/test/java/org/scoalaonline/api/util/TestUtils.java
  migrations.json
  nx.json
  package-lock.json
  package.json
Labels: feat 🎸, admin panel 💳

#93 Test/#92 test roles endpoint
  apps/java-api/src/test/java/org/scoalaonline/api/controller/RoleControllerTest.java
  apps/java-api/src/test/java/org/scoalaonline/api/integration/RoleIntegrationTest.java
  apps/java-api/src/test/java/org/scoalaonline/api/service/RoleServiceTest.java
Labels: test 💍, rest-api 🛰

#91 Test/#52 test lecture endpoint
  apps/java-api/src/main/java/org/scoalaonline/api/controller/LectureController.java
  apps/java-api/src/main/java/org/scoalaonline/api/exception/lecture/LectureInvalidTitleException.java
  apps/java-api/src/main/java/org/scoalaonline/api/exception/lecture/LectureNotFoundException.java
  apps/java-api/src/main/java/org/scoalaonline/api/service/LectureService.java
  apps/java-api/src/test/java/org/scoalaonline/api/controller/LectureControllerTest.java
  apps/java-api/src/test/java/org/scoalaonline/api/integration/LectureIntegrationTest.java
  apps/java-api/src/test/java/org/scoalaonline/api/service/LectureServiceTest.java
Labels: refactor 💡, test 💍, rest-api 🛰

#94 Test/#57 test grades endpoint
  apps/java-api/src/main/java/org/scoalaonline/api/controller/GradeController.java
  apps/java-api/src/main/java/org/scoalaonline/api/service/GradeService.java
  apps/java-api/src/test/java/org/scoalaonline/api/controller/GradeControllerTest.java
  apps/java-api/src/test/java/org/scoalaonline/api/integration/GradeIntegrationTest.java
  apps/java-api/src/test/java/org/scoalaonline/api/service/GradeServiceTest.java
  apps/java-api/src/test/java/org/scoalaonline/api/util/TestUtils.java
Labels: docs ✏️, fix 🐛, test 💍, rest-api 🛰
